<%= stylesheet_link_tag 'userblock' %>

<div class="user-block">
  <div class="photo-box">PHOTO HERE</div>
  <div class="details-box">
    <h1>USER NAME</h1>
    <span>Number of posts 5</span>
  </div>
</div>

