.user-block {
    display: flex;
}

.photo-box {
    border: solid rgb(56, 56, 56);
    width: 100px;
    height: 100px;
    margin-right: 2%;
}

.details-box {
    border: solid rgb(56, 56, 56);
    width: 60%;
    height: 100px;
    padding: 1%;
    display: flex;
    flex-direction: column;  
}

.details-box span {
    align-self: flex-end;
}
