.userlink {
    text-decoration: none;
}

.sign-out {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
}

.sign-out a {
    border: solid 1px black;
    border-radius: 20px;
    padding: 0.2% 0.5%;
    text-decoration: none;
    background-color: black;
    color: white;
}